<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522044503272-24ccoina25mmrrdh43in5g9rkb9lngup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522044503272-24ccoina25mmrrdh43in5g9rkb9lngup</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>522044503272-t2airb0gmrk7743a0qqnjhirimlfin52.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQBLHCDthnR6CXl8rjcSK0oOPnKhQkurQ</string>
	<key>GCM_SENDER_ID</key>
	<string>522044503272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renanferrari.instant</string>
	<key>PROJECT_ID</key>
	<string>instant-a</string>
	<key>STORAGE_BUCKET</key>
	<string>instant-a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522044503272:ios:f140ad0077325d2a</string>
	<key>DATABASE_URL</key>
	<string>https://instant-a.firebaseio.com</string>
</dict>
</plist>